html,body {
    background-image: linear-gradient(45deg, #55253F 0%, #30183C 100%);
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.whiteBoard {
    background: #FFFFFF;
    box-shadow: 1px 12px 16px 0 rgba(0,0,0,0.50);
    border-radius: 15px;
    height: 50rem;
    width: 400rem;
    margin: 10rem 10rem;
    
}

.innerComponents {
    padding-top: 10rem;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 3rem;
    height: 50rem;

}

.playerName {
    font-family: NunitoSans-Bold;
    font-size: 1.5rem;
    color: #421F3E;
    letter-spacing: 11.3px;
    text-align: center;
    text-transform: uppercase;
}

.liveScore {
    font-size: 7rem;
    font-weight: 900;
}
.greyScore {
    font-family: NunitoSans-Bold;
    font-size: 1.5rem;
    color: #CDCACE;
}

.currentScore {
    font-size: 2rem;
}

.rollDice{
    width: 10rem;
    height: 5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    background-color: transparent;
    border: 1px solid #421F3E;
    color: #421F3E;
    font-size: 1.5rem;
}
.rollDice:hover {
    cursor: pointer;
    outline: none;
}

.holdDice{
    width: 10rem;
    height: 5rem;
    background-image: linear-gradient(-135deg, #53243F 0%, #421F3E 100%);
    box-shadow: 1px 0px 15px 0 rgba(0, 0, 0, 0.105);
    color: #FFFFFF;
    font-size: 1.5rem;
    border: none;
    outline: none;
}
.liveScore,.playerName {
    color: #421F3E;
}
.active {
    background-image: url('/img/pig face.png');
    background-repeat: no-repeat;
    margin-left: 5rem;
    margin-top: 0rem;
}
.playerActive {
    height: 13rem;
}

.diceHeight {
    height: 15rem;
    margin-top: 5rem;
}
.btn-new {
    margin-top: 2rem;
    margin-right: 7rem;
    color: #30183C;
    font-size: 1.5rem;
    position: absolute;
    top: 15rem;;
    width: 15rem;
}

.btn-new:hover {
    cursor: pointer;
}
.logo {
    font-size: 2rem;
    margin-top: 2rem;
    color: white;
    text-transform: uppercase;
}

button.btn-primary {
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
    outline: none;
    text-transform: uppercase;
}

button.btn-primary:hover {
    background-color: #53243F !important;
    outline: none;
    border: none;
    border-color: transparent !important;
}

button.btn-primary:active,
button.btn-primary:focus {
    outline: none;
    border: none;
}
.modal-body {
    font-size: 1.2rem;
}
button.btn-secondary {
    background-color: #421F3E;
}
button.btn-secondary:hover {
    background-color: #30183C;
}


.rowTwo {
    height: 100vh;
}
.p-input {
    height: 7rem;
    width: 40rem;
    font-weight: 200;
    font-size: 1.6rem;
    background-color: #53243F;
    border: 1px solid rgba(255, 255, 255, 0.301);
}
.playerInput1 {
    border-bottom: 0;
    border-radius: 1rem 1rem 0 0;
}
.playerInput2 {
    border-radius: 0 0 1rem 1rem;
}
input {
    color: white;
}
input:focus {
    outline: none;
}

.submitBtn {
    height: 4rem;
    width: 20%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.288);
    font-size: 1.5rem;
    transition: all 0.3s ease 0s;
}
.submitBtn a {
    text-decoration: none;
    color: white;
}

.submitBtn:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
    cursor: pointer;
}


@media (max-width: 576px) {
    .container {
      max-width: 540px;
    }
    .whiteBoard{
        margin: 0;
    }
  }